<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>
    <div class="logo">Portfolio</div>

    <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<section class="page">
    <h1>About Me</h1>

    <div class="card">
        <p>
            I am passionate about Software Development,
            Web Technologies, AI, Cloud Computing and Databases.
        </p>
    </div>
</section>

</body>
</html>