<!DOCTYPE html>
<html>
<head>
    <title>Skills</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>
    <div class="logo">Portfolio</div>

    <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<section class="page">

<h1>Skills</h1>

<div class="project-grid">

<div class="card">
<h2>Python</h2>
<p>OOP, Data Structures</p>
</div>

<div class="card">
<h2>Web Development</h2>
<p>HTML, CSS, JavaScript</p>
</div>

<div class="card">
<h2>SQL</h2>
<p>Database Design</p>
</div>

<div class="card">
<h2>Cloud Computing</h2>
<p>AWS Fundamentals</p>
</div>

</div>

</section>

</body>
</html>